bert-score 
rouge-score
fastapi
uvicorn[standard]
pydantic
langchain
langchain-nvidia-ai-endpoints
langchain-community
langchain-text-splitters
faiss-cpu
transformers
pymupdf
pytesseract
pdf2image
beautifulsoup4
numpy
sentence-transformers
langchain_huggingface
